body{ /*otorga propiedades generales a las fuentes de la pagina*/
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

img{ /*otorga propiedades generales a las imagenes de la pagina*/
    max-width: 100%;
}

::-webkit-input-placeholder{ /*otorga color al elemento placeholder 1/2*/
    color: #9DAFBD;
}

::placeholder{ /*otorga color al elemento placeholder 2/2*/
    color: #9DAFBD;
}

.main-nav{ /*otorga propiedades de posicion a la barra superior derecha*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-right: auto;
    margin-left: auto;
}

.main-nav h1{ /*propiedades de la letra inicial superior izquierda*/
    font-weight: 700;
    font-size: 2.12rem;
    margin: 0;
}

.main-nav ul{ /*propiedades de la barra de navegacion superior derecha*/
    display: inline-flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.main-cover{ /*propiedades de la imagen detras de la foto de perfil*/
    background-image: url(../images/fondo2.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 76px;
    padding-bottom: 82px;
}

.main-cover img{ /*tamaño de la imagen de perfil*/
    width: 400px;
}

.main-header{ /*otorga propiedades a los elementos superiores*/
    display: flex;
    flex-wrap: wrap;
    gap: 142px;
    margin: 0 auto;
}

.main-header header{ /*otorga propiedades de tamaño al encabezado izquierdo superior*/
    width: min(100%, 562px);
}

.main-header .text-s, .main-header .text-xl{
    margin: 0;
}

.main-header .text-xl span{ /*otorga color solo al elemento mi casa*/
    color: #366BFF;
}

.green-dot-paragraph::before{ /*crea el circulo verde en (disponible como freelancer)*/
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00f07D;
    display: inline-block;
    border-radius: 50%;
}

.experience{
    color: #366BFF;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.experience2{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.projects{ /*acomoda las imagenes de la seccion projects*/
    background-color: #e1e6f5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px){
    .projects{
        grid-template-columns: 1fr;
    }
}

.projects-section{
    padding-top: 96px;
    padding-bottom: 87px;
    background: linear-gradient(rgba(201,214,250,0.2) 0% rgba(255,255,255,0) 100%);
    text-align: center;
}

.projects-section h2{
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin: 0 auto;
    font-weight: 600;
}

.projects-section .container{
    margin: 0 auto;
}

.projects-section .container-s{
    margin: 0 auto;
    font-weight: 700;
}

.structure{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #122250;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
}

.benefits p{
    margin: 0;
}

.benefits .text-secondary{
    font-size: 0.875rem; /* 16px => 14 / 16 = 0.875 */
}

.icon{
    width: 68px;
    height: 68px;
    background-color: #F9FBFC;
    border: 1px solid #9DAFBD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.quote{
    width: min(100%,730px);
    margin: 0 auto;
    text-align: center;
    padding: 96px 20px;
}
.main-quote-text{
    font-weight: 400;
    font-size: 2.125rem; /* 16px => 34 / 16 = 2.125 */
    line-height: 2.875rem; /* 16px => 46 / 16 = 2.875 */
    color: #366BFF;
}
  
.quote .text-bold{
    font-weight: 700;
    font-size: 0.93rem; /* 16px => 15 / 16 = 0.9375 */
    margin:0;
}
  
.quote .text-secondary{
    font-family: 'Popins', sans-serif;
    font-size: 0.812rem; /* 16px => 13 / 16 = 0.8125 */
    margin:0;
}
  
.quote img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contact-section{
    margin: 0 auto;
    padding: 96px 0;
}

.contact{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact form{
    width: min(458px, 100%);
}

.contact .address{
    width: min(360px, 100%);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #122250;
}

address .text-accent{
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 2.825rem;
    margin: 0;
}

.input-field{/**propiedades de la casilla de introduce tu email*/
    background-color: #f7f9fa;
    border: solid 1px #01d8e3;
    padding: 15px;
    width: 100%; /*tamaño de la casilla(se extiende hasta el maximo posible)*/

    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.875rem;

    color: #090a0a;
}

textarea.input-field{ /*propiedades del contenido del textarea (mensaje)*/
    width: 100%;
    background-color: #fff;
    font-size: 0.875rem;
    margin-top: 0.937rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    color: #9dafbd;

    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1rem;
}

.btn-main{ /*propiedades del boton enviar*/
    background-color: #3668ff; /*color del boton*/
    font-weight: 600; /*tamaño de fuente, en pocas palabras, normal o bold*/
    font-size: 0.875rem;/*tamaño de la letra*/
    line-height: 1.3125rem; /*espaciado de las letras*/
    color: white; /*color de las letras enviar*/
    border: none; /*sin color de borde*/
    box-shadow: 0px 10px 20px rgba(54,107,255,0.2); /*sombra que se le da al boton*/
    padding: 0.75rem 3.125rem; /*borde que se le da al boton con respecto de las letras hacia afuera*/
    margin-top: 1.875rem; /*borde superior con respecto al elemento superior del boton enviar*/
    position: absolute;
    bottom: -1rem;
}

.card{ /*propiedades de la tarjeta que contiene los elementos de la izquierda(email,mensaje,boton enviar)*/
    box-shadow: 0px 40px 80px rgba(0,0,0,0.1);
    padding: 30;
    padding-bottom: 60px;
    position: relative;
}

.type-profession{
    color: #036c9c;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1rem;
}

.option{
    color: #278cbb;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1rem;
}

.social-media-links{ /*propiedades de los iconos de las redes sociales*/
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

/*clases utilitarias*/

.container{
    width: min(100%, 69em)
}

.container-s{
    width: min(100%, 33.5em);
}

.text-accent{
    color: #0244f8;
}

.text-s{
    font-size: 0.875rem; /*16px/14px*/
    line-height: 1.321rem;/*16px/21px*/
    font-weight: 600;
}

.text-xl{
    font-size: 2.75rem;/*16/44*/
    line-height: 4.125rem;
}

.text-md{
    font-size: 1.25rem;
    line-height: 1.875;
}

.text-secondary{
    color: rgba(18,34,80,0.64);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.pink-text{
    color: #FF2EAB;
  }